@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  height: 100%;
}


#root{
  height: 100%;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    @apply font-QuickSand font-normal;
  }
}
